.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.embed-responsive .carousel-item {
    object-fit: cover;
}


.scale-img {
    transition: 500ms;
}
.scale-img:hover {
    transform: scale(1.2);
}