<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Продажа товара</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
  <div class="container">

    <div class="py-5 text-center">
      <br>
      <h2>Продажа товара</h2>
    </div>


    <div class="col-md-7 col-lg-8">
      <form class="needs-validation" novalidate="">
        <div class="row g-3">

          <div class="col-md-5">
            <label for="name" class="form-label">Товар</label>
            <select id="name" >
              <option value="">Выберите... </option>
              <option th:each="product : ${products}"
                      th:value="${product.getId()}"
                      th:utext="${product.getName()}"/>
            </select>
            <div class=" invalid-feedback
                                ">
              Выберите товар!
            </div>
          </div>

          <div class="col-12">
            <label for="quantity" class="form-label">Количество</label>
            <input type="number" min="1" class="form-control" id="quantity" placeholder="Quantity" onchange="abc(this.value)" required="">
            <div class="invalid-feedback">
              Введите количество!
            </div>
          </div>

          <div class="col-12">
            <label for="price" class="form-label">Цена</label>
            <div class="input-group has-validation">
              <span class="input-group-text">$</span>
              <input type="number" min="0" step="5" class="form-control" readonly id="price"  placeholder="Price for one" required="">
            </div>
          </div>


          <div class="col-md-5">
            <label for="customer" class="form-label">Покупатель</label>
            <select id="customer">
              <option value="">Выберите... </option>
              <option th:each="customer : ${customers}"
                      th:value="${customer.getId()}"
                      th:utext="${customer.getName()}"/>
            </select>
            <div class=" invalid-feedback
                                ">
              Please select a valid customer.
            </div>
          </div>
        </div>

        <hr class="my-4">
        <form th:action="'/sell-product/'+${name}" method="post">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Продать</button>
        </form>
      </form>
    </div>
  </div>
  </div>
</main>
<script>
  function abc(data) {
    document.getElementById('price').value = data * 10;
  }
</script>
</body>
</html>