<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaef.org">
<head>
    <title>Пользователи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="album py-5 bg-light">
    <div class="container mt-5">
        <h1>Пользователи</h1>
    </div>
    <div class="container">
        <a href="/registration" class="btn btn-outline-primary" type="submit">Добавить пользователя</a>
        <div class="album py-5 bg-light">

            <div th:each="el:${users}"  class="container">

                <div class="row">
                    <div class="col-sm-6 p-2">
                        <th:block>
                            <div class="card shadow-sm">
                                <img src="https://image.freepik.com/free-vector/businessman-man-male-icon_24877-11461.jpg"/>
                                <div class="card-body">
                                    <p class="card-text" th:text="${el.getFirstName()}+' '+${el.getId()}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a th:href="'/user/'+${el.getId()}"  class="btn btn-sm btn-outline-secondary">Просмотр</a>
                                            <form th:action="'/user/'+${el.getId()}+'/remove'" method="post">
                                                <button class="btn btn-sm btn-outline-secondary" type="submit">Удалить</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

</body>
</html>