<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaef.org">
<head>
    <title>Поставщик</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="album py-5 bg-light">
    <div class="container mt-5">
        <h1>Пользователи</h1>
    </div>
    <div class="container">
        <div th:each="el : ${user}" class="alert alert-info mt-2">
            <h1 th:utext="${'<strong>Имя:</strong> ' + el.getFirstName()}"></h1>
            <br>
            <h1 th:utext="${'<strong>Фамилия:</strong> ' + el.getLastName()}"></h1>
            <br>
            <h1 th:utext="${'<strong>Номер телефона:</strong> ' + el.getPhone()}"></h1>
            <br>
            <h1 th:utext="${'<strong>Адрес:</strong> ' + el.getAddress()}"></h1>
            <br>
            <h1 th:utext="${'<strong>Индекс:</strong> ' + el.getZip()}"></h1>
            <br>
        </div>
    </div>

</body>
</html>