<div th:fragment="footer">

    <footer id="myFooter">
        <div class="container">

            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7c825bf2c290995969a780ed1cc43cd1e3801964c62d067fc22bf0898d4f4237&amp;width=100%25&amp;height=150&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="social-networks">
            <a href="https://twitter.com/iamavtoritet/" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/aleksey2411" class="github"><i class="fa fa-github"></i></a>
            <a href="https://t.me/aleksey2411" class="telegram"><i class="fa fa-vk"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Nigma </p>
        </div>
    </footer>
</div>