<div th:fragment="header">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/products">Склад</a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/add-product">Добавить товар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/sell-product">Продать товар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/customers">Покупатели</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/suppliers">Поставщики</a>
                        </li>
                        <div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" class="unauthorized">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users">Пользователи</a>
                            </li>
                        </div>
                    </ul>
                    <form class="d-inline-block" name="logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-success" type="submit">Выйти</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>